#videoPlayerContainer {
    background: #23375a;
    color: white;
    width: 600px;
    height: 250px;
    margin-top: 15px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#generalViewContainer {
    display: flex;
    justify-content: center;
}

#playerTextContainer {
    padding-top: 4px;
    padding-left: 16px;
    font-size: 15pt;
    /* color: white; */
}