#inputFormContaier {
    width: 645px;
    height: 30px;
    display: flex;
}

#urlTextContiner {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15pt;
    /* margin-left: 50px; */
}

#urlText {
    margin-left: 70px;
}

#inputFieldContainer {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#inputField {
    width: 90%;
    height: 35px;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 4px;
    background: black;
    color: white;

}

#submitterTextContainer {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15pt;
    /* margin-right: 33px; */
}

#submitter {
    margin-right: 45px;
}
#submitButton {
    cursor: pointer;
}